@media screen and (min-width: 350px) and (max-width: 576px){
    .navbar{
        padding-bottom: 10px;
    }
    /* Home */
    .txt-home{
        padding: 15px 20px 25px 20px;
    }
    .txt-home h1{
        /* color: red; */
        font-size: 43px;
        padding-bottom: 5px;

    }
    .txt-home h3{
        font-size: 18px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .img-home{
        padding-top: 0px;
    }
    .img-home .home{
        width: 300px;
    }
    /* Home */
    /* about start */
    .vegetable .img-about{
        width: 285px;
    }
    .txt-about{
        padding: 0 20px 0 20px;
    }
    .txt-about h2{
        font-size: 25px;
    }
    .txt-about .parap-1{
        width: 100px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .txt-about .parap-2{
        font-size: 14px;
        width: 290px;
        margin-bottom: 25px;
    }
    /* about endt */
    /* special card start */
    .card{
        width: 18rem;
    }
    .card .img-1{
        width: 245px;
    }
    .pembungkus-crd{
        margin-left: 0px;
    }
    /* special card start */
    /* app start */
    .phone img{
        width: 328px;
    }
    .txt-app{
        /* margin: 0px; */
        margin-top: 0px;
        padding: 0 20px 20px 20px;
    }
    .txt-app h2{
        font-size: 24px;
        padding: 10px 0 0 0;
    }
    .txt-app .parap-1{
        margin-bottom: 0px;
    }
    .txt-app .parap-2{
        font-size: 16px;
        width: 300px;
        margin-bottom: 25px;
        margin-right: 0px;
    }
    .apple a img{
        width: 150px;        
    }
    .playstore a img{
        width: 150px;        
    }
    /* app end */
    /* contact start */
    #contact{
        padding-top: 55px;
    }
    .txt-contact{
        padding: 0 20px 0 20px;
    }
    .txt-contact h4{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .txt-contact h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .txt-contact p{
        font-size: 16px;
        width: 300px;
        margin-bottom: 25px;
        margin-right: 0px;
    }
    /* contact end */
    /* footer start */
    .main a{
        font-size: 24px;
    }
    .main p{
        font-size: 16px;
    }
    .icon {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .icon a img{
        width: 28px;
    }
    .second .services{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .second .information{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .second p{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .three .addres{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .three .txt-addres{
        font-size: 15px;
    }
    .copyright div p{
        width: 240px;
        font-size: 12px;
    }
    /* footer end */
}

@media screen and (min-width: 576px) and (max-width: 767px){
    /* Home start */
    .txt-home{
        padding: 0px 10px 0 10px;
    }
    .txt-home h1{
        /* color: aqua; */
        font-size: 43px;
        padding-bottom: 5px;
    }
    .img-home{
        padding-top: 15px;
    }
    .img-home .home{
        width: 350px;
    }
    .txt-home h3{
        font-size: 18px;
        line-height: 40px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    /* Home start */

    /* about start */
    .vegetable{
        width: 45%;
    }
    .vegetable .img-about{
        width: 200px;
        margin-top: 25%;
    }
    .txt-about{
        width: 55%;
    }
    .txt-about .parap-1{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .txt-about h2{
        font-size: 24px;
        margin-bottom: 0px;
    }
    .txt-about .parap-2{
        font-size: 14px;
        width: 100%;
        margin-bottom: 24px;
    }
    .txt-about button{
        font-size: 14px;
    }
    /* about end */

    /* offering start */
    .card-offering{
        padding: 20px;
    }
    /* offering end */
    
    /* special start */
    #title{
        color:  #198754;
    }
    /* special end */
    
    /* app start */
    .phone{
        padding: 10px 0 10px 0;
        width: 45%;
        height: 300px;
    }
    .phone img{
        width: 255px;
        margin-top: 50px;
    }
    .txt-app{
        padding: 20px 0 20px 0;
        width: 55%;
    }
    .txt-app h2{
        font-size: 28px;
        padding-top: 0;
        padding-bottom: 10px;
    }
    .txt-app .parap-2{
        font-size: 16px;
        width: 95%;
    }
    .apple a img {
        width: 130px;
    }
    .playstore a img {
        width: 130px;
    }
    /* app end */

    /* contact start */
    #contact{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .txt-contact h4{
        font-size: 18px;
        margin-bottom: 22px;
    }
    .txt-contact h1{
        margin: 30px 0 30px 0;
    }
    .txt-contact p{
        font-size: 18px;
    }
    /* contact end */

    /* footer start */
    .icon{
        padding-top: 30px;
        padding-bottom: 35px;
    }
    .icon a img{
        width: 25px;
    }
    .second .services{
        font-size: 24px;
    }
    .second .information{
        font-size: 24px;
        margin-top: 20px;
    }
    .second p{
        color: rgb(91, 91, 91);;
        font-size: 16px;
        line-height: 16px;
    }
    .three .addres{
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    .three .txt-addres{
        font-size: 16px;
    }
    .copyright p{
        font-size: 14px;

    }
    /* footer end */
}

@media screen and (min-width:768px) and (max-width: 991px){
    /* home start */
    .txt-home{
        padding: 30px 10px 0 10px;
        width: 50%;
    }
    .img-home{
        width: 50%;
    }
    .img-home .home{
        width: 360px;
    }
    .txt-home h1{
        /* color: aqua; */
        font-size: 50px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .txt-home h3{
        font-size: 24px;
        margin-bottom: 0;
        line-height: 45px;
    }
    /* home end */

    /* about start */
    .vegetable {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .vegetable img{
        width: 300px;
        margin-top: 25px;
        /* height: 325px; */
    }
    .txt-about{
        width: 50%;
    }
    .txt-about .parap-1{
        margin-top: 10px;
        /* font-size: 10px; */
    }
    .txt-about .parap-2{
        width: 100%;
        font-size: 16px;
    }
    /* about end */

    /* offering start */
    .card-offering {
        padding: 40px 0 40px 0;
    }
    /* offering end */
    
    /* app start */
    #app{
        padding-top: 70px;
    }
    .phone{
        padding: 0;
        width: 50%;
    }
    .txt-app {
        width: 50%;
        padding: 0;
    }
    .phone img{
        width: 350px;
    }
    .txt-app h2{
        font-size: 32px;
        padding: 0;
        margin-bottom: 20px;
    }
    .txt-app .parap-2{
        width: 100%;
        font-size: 16px;
    }
    /* app end */

    /* contact start */
    #contact{
        padding-top: 50px;
    }
    .txt-contact h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .txt-contact h1{
        margin-bottom: 20px;
    }
    .txt-contact{
        width: 60%;
    }
    .btn-contact{
        width: 40%;
        padding-top: 0;
    }
    .btn-contact a .btn{
        margin-top: 65px;
    }
    /* contact end */
    .main .tasty{
        width: 200px;
        font-size: 25px;
    }
    .main .icon a img{
        width: 28px;
    }
    .second .services{
        font-size: 24px;
    }
    .second .information{
        font-size: 24px;
    }
    .three .addres{
        font-size: 24px;
    }
    .three .txt-addres{
        font-size: 16px;
    }
    /* contact end */
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    /* home start */
    .txt-home{
        padding: 100px 20px 100px 40px;
    }
    .img-home .home{
        width: 450px;
    }
    /* home end */

    /* app start */
    .phone{
        width: 50%;
    }
    .phone img{
        width: 400px;
    }
    .txt-app{
        width: 50%;
        padding-left: 0px;
    }
    .txt-app .parap-2{
        width: 390px;
        font-size: 14px;
    }
    /* app end */

    /* contact start */
    .txt-contact {
        padding-left: 25px;
        padding-right: 0px;
    }
    .txt-contact p{
        width: 555px;
    }
    .btn-contact {
        padding: 0 0 0 0;
    }
    .btn-contact button{
        margin-top: 110px;
    }
    /* contact end */
    
    /* footer start */
    .copyright div p{
        font-size: 14px;
    }
    /* footer end */
}